<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
    <div style="background-image:url('background.jpg'); background-size: cover; background-position:right bottom 400px">
        <h1>Welcome to Fii Iasi</h1>
        
        <p>Click <a th:href="@{/hello}">here</a> to proceed.</p>
        </div>
    </body>
</html>